<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PositiveUEFNUtility.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <PositiveUEFNUtility.Properties.Settings>
            <setting name="StartPositionX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StartPositionY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StartPositionZ" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CheckLocationX" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckLocationY" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckLocationZ" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckLocationXRondom" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckLocationYRondom" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckLocationZRondom" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LocationXCount" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LocationYCount" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LocationZCount" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LocationXOffsetDistance" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="LocationYOffsetDistance" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="LocationZOffsetDistance" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="LocationXRandomMin" serializeAs="String">
                <value>-15</value>
            </setting>
            <setting name="LocationXRandomMax" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="LocationYRandomMin" serializeAs="String">
                <value>-15</value>
            </setting>
            <setting name="LocationYRandomMax" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="LocationZRandomMin" serializeAs="String">
                <value>-15</value>
            </setting>
            <setting name="LocationZRandomMax" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="AlignDuplicateClipboardCopy" serializeAs="String">
                <value>True</value>
            </setting>
        </PositiveUEFNUtility.Properties.Settings>
    </userSettings>
</configuration>